::ng-deep .content-inside {
    padding: 0px !important;
    padding-bottom: 0px;
    background-image: url("../../../../assets/images/fondo.png");
    background-repeat: no-repeat;
    max-width: 1300px;
    height: 1900px;

}

#galeria {
    margin: 1rem auto;
    width:100%;
    max-width:960px;
    column-count: 3;
}


/* Móviles en horizontal o tablets en vertical */

@media (max-width: 767px) { 
    #galeria {
        columns:2;
    }

}
        
/* Móviles en vertical */

@media (max-width: 480px) {
    #galeria {
        columns: 1;
    }
}