::ng-deep .content-inside {
    padding: 0px !important;
    padding-bottom: 0px;
    background-image: url("../../../../assets/images/fondo.png");
    background-repeat: no-repeat;
    max-width: 1300px;
    height: 1900px;

}



#gallery{
    background-color: transparent !important;
}