<app-nav-dyrcocinas></app-nav-dyrcocinas>

<div class="row justify-content-center ">
    <h3 class="text-light mt-3">D&R Cocinas Integrales</h3>
</div>
<a class='flotante' href='https://api.whatsapp.com/send?phone=573233001841&text=Hola%2C%20deseo%20adquirir%20una%20asesoría%20o%20cotización' ><span class="text-light">Pregunta por tu diseño</span><img src="../../../../assets//images//icon-sociales/whatsapp.svg" style="width: 40px; height: 40px;" alt=""></a>

<div class="row mb-2" style="justify-content: center;">
    
<img src="../../../../assets/images/images_santiago/logodyr.jpg" style="width: 150px; height: 150px;" alt="">
 
</div>
<div class="row justify-content-center mb-2">
   <a href="https://www.instagram.com/dyrcocinasintegrales/?hl=es-la"> <img src="../../../../assets//images//icon-sociales/instagram.svg"   style="width: 30px; height: 30px;" alt=""></a>
    <!-- <img src="../../../../assets//images//icon-sociales/whatsapp.svg" style="width: 40px; height: 40px;" alt=""> -->
    <a href="https://www.facebook.com/profile.php?id=100043740573684&__tn__=%2CdlC-R-R&eid=ARATo0-Jf0_R2nvNkM28n86Hvk2eXGnuQsLXcRNX2qsC9ssujhf-HBVzZrH45i4V-ToOApf55Co5u6zQ&hc_ref=ARQGBAo8Edewx4sehzq8SajbU3XmVP_LW2ZtK_aqosk26iNdwB6d3mDmBUMwVZ7WW30&ref=nf_target"> <img src="../../../../assets//images//icon-sociales/facebook.svg"  style="width: 30px; height: 30px;" alt=""></a>

</div>
<div class="container">
    <gallery id="gallery" [items]="items" thumbPosition="top" [zoomOut]="0" ></gallery>
    
</div>
<br>
<br>
<div class="row justify-content-center">
    <img  src="../../../../assets/images/dyrcocinas/4.jpeg" alt="">
</div>



