<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="home">Angular 9</a>
  
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="usuario/1">Usuario</a>
            </li> -->
            <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Redux
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <a class="dropdown-item" routerLinkActive="active" routerLink="listaUsuarios">Lista de Usuarios</a>
                 <a class="dropdown-item" routerLinkActive="active" routerLink="usuario/1">Buscar Usuario</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Crud Firebase
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <a class="dropdown-item" routerLinkActive="active" routerLink="heroes">Lista de Heroes</a>
                 <a class="dropdown-item" routerLinkActive="active"routerLink="heroe/nuevo">Heroe</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  MEAN stack
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <a class="dropdown-item" routerLinkActive="active" routerLink="sobre-mi">Sobre mi</a>
                 <a class="dropdown-item" routerLinkActive="active"routerLink="proyectos">Proyectos</a>
                 <a class="dropdown-item" routerLinkActive="active"routerLink="crear-proyecto">Crear Proyecto</a>
                 <a class="dropdown-item" routerLinkActive="active"routerLink="contacto">Contacto</a>
                 
                </div>
              </li>
              
        </ul>
        <form *ngIf="logout" class="form-inline my-2 my-lg-0">
          <label class="badge badge-dark">{{usuario}}</label>
          <button  (click)="salir()" class="btn btn-primary btn-sm active my-2 my-sm-0" type="submit" >Cerrar Sesión</button>
        </form>
        
  
     
    </div>
  </nav>

  