<nav *ngIf="currentUrl!== '/covid19-colombia'" class="navbar navbar-expand-md navbar-light bg-dark ">

  <a class="navbar-brand text-light font-weight-bold px-3 " routerLink="home"><img src="assets\images\images_santiago\icono_angular.svg"><a>Angular 9</a> </a>

  <button type="button" class="navbar-toggler bg-light" data-toggle="collapse" data-target="#nav">

    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse justify-content-between" id="nav">

    <ul class="navbar-nav">

      <li class="nav-item dropdown" >
        <a class="nav-link text-light font-weight-bold px-3 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Redux
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <a class="dropdown-item" routerLinkActive="active" routerLink="listaUsuarios">Lista de Usuarios</a>
         <a class="dropdown-item" routerLinkActive="active" routerLink="usuario/1">Buscar Usuario</a>
         <a class="dropdown-item" routerLinkActive="active" routerLink="BehaviorSubject">BehaviorSubject Heroes</a>
         <a class="dropdown-item" routerLinkActive="active" routerLink="covid19-colombia">Colombia Covid19</a>

        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link text-light font-weight-bold px-3 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Crud Firebase
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <a class="dropdown-item" routerLinkActive="active" routerLink="heroes">Lista de Heroes</a>
         <a class="dropdown-item" routerLinkActive="active"routerLink="heroe/nuevo">Heroe</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link text-light font-weight-bold px-3 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          MEAN stack
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <a class="dropdown-item" routerLinkActive="active"routerLink="proyectos">Proyectos</a>
         <a class="dropdown-item" routerLinkActive="active"routerLink="crear-proyecto">Crear Proyecto</a>
         <a class="dropdown-item" routerLinkActive="active"routerLink="private">Privado</a>

         <ng-container *ngIf="!loggedIn_mean(); else loggedIn">
          <a class="dropdown-item" routerLinkActive="active"routerLink="signin">SignIn</a>
          <a class="dropdown-item" routerLinkActive="active"routerLink="signup">SignUp</a>
         </ng-container>

         <ng-template #loggedIn>
          <a class="dropdown-item" style="cursor: pointer;" (click)="logout_mean()">Logout</a>       
         </ng-template>
        </div>
      </li>

    
      <!-- <li class="nav-item">

        <a class="nav-link text-light font-weight-bold px-3" href="#">ABOUT US</a>

      </li> -->


    </ul>


    <!-- Sesión -->

    <form *ngIf="logout" class="form-inline my-2 my-lg-0">
      <label class="badge badge-dark">{{usuario}}</label>
      <button  (click)="salir()" class="btn btn-primary btn-sm active my-2 my-sm-0" type="submit" >Cerrar Sesión</button>
    </form>

  </div>

</nav>
