::ng-deep .content-inside {
    padding: 0px !important;
    padding-bottom: 0px;
    background-image: url("../../../../assets/images/fondo.png");
    background-repeat: no-repeat;
    max-width: 1300px;
    height: 1900px;

}

.example-container {
    height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  tr.mat-footer-row {
    font-weight: bold;
  }
  
  .mat-table-sticky {
    border-top: 1px solid #e0e0e0;
  }
  
