
<div class="container">
  <div class="row">
    <div class="col-sm">
      <!-- One of three columns -->
    </div>
    <div class="col-lg-7">
      <mat-card style="max-width: 500px; text-align:center; ">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Angular9</mat-card-title>
          <mat-card-subtitle>Projects</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets\images\digi.jpg" alt="...">
        <mat-card-content>
          <p class="card-text">
            supported in angular 9</p>
            <p class="card-text"><small class="text-muted">Create 31-01-2020 </small></p>
            <i class="fa fa-spinner fa-spin fa-5x"></i>
        </mat-card-content>
        <mat-card-actions>
          <!-- <button mat-button>LIKE</button>
          <button mat-button>SHARE</button> -->
        </mat-card-actions>
      </mat-card>
    
    </div>
  
    <div class="col-sm">
      <!-- One of three columns -->
    </div>
  </div>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
    
 


