

<div class="card lg-2" >
    <div class="row no-gutters">
      <div class="col m-md-3">
        <img src="assets\images\digi.jpg" style="width: 400px;" class="card-img" alt="...">
      </div>
      <div class="col">
        <div class="card-body">
          <h5 class="card-title">PROJECTS</h5>
          <p class="card-text">
            supported in angular 8</p>
          <p class="card-text"><small class="text-muted">Create 31-01-2020 Santiago Valencia</small></p>
        </div>
        <i class="fa fa-spinner fa-spin fa-5x"></i>
      </div>
    
    </div>
  
  </div>