html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* style APPComponent footer */
.content {
  min-height: 100%;
}

.content-inside {
  padding: 20px;
  padding-bottom: 50px;
  background-image: none;
}

.boxDiv {
  background-color: white;
  -webkit-box-shadow: 7px 11px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 11px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 11px 5px 0px rgba(0, 0, 0, 0.75);
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: auto;

}