<h3>COVID19 COLOMBIA <img src="../../../../assets/images/images_santiago/colombia.svg" style="width: 43px;" alt=""></h3>
<hr>
<p>{{clock | date:'MMMM d, y'}}- Primer caso: Marzo 6, 2020</p>
<div class="row" *ngIf="!loading">
    <div class="col">

        <div class="alert alert-dismissible text-center">
            <i class="fa fa-sync fa-spin fa-2x"></i>
            <h1>Espere...</h1>


        </div>
    </div>
</div>

<div>
    <div>
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li *ngIf="loading" [ngbNavItem]="1">
                <a ngbNavLink>Resumen</a>
                <ng-template ngbNavContent>
                    <div class="row">
                        <div class="card text-dark bg-white ml-3" style="max-width: 12rem; max-height: 6rem;">
                            <div class="card-header">Casos Confirmados</div>
                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center; font-size: 18px; ">{{casos.length}}
                                </h5>

                            </div>
                        </div>
                        <div class="card text-white bg-info ml-3" style="max-width: 10rem; max-height: 6rem;">
                            <div class="card-header">Recuperados</div>
                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center; font-size: 18px;">{{recuperados}}</h5>

                            </div>
                        </div>
                        <div class="card text-white bg-warning ml-3" style="max-width: 10rem; max-height: 6rem;">
                            <div class="card-header">Fallecidos</div>
                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center; font-size: 18px;">{{fallecidos}}</h5>

                            </div>
                        </div>
                        
                        <div class="card text-white bg-primary ml-3 mb-3" style="max-width: 15rem; max-height: 6rem;">
                            <div class="card-header">Activos</div>
                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center; font-size: 18px;">{{activos}}</h5>

                            </div>
                        </div>

                    </div>
                    <hr>
                    <div class="row">
                        <button type="button" (click)="showPieChart=!showPieChart" class="btn btn-secondary">Ver Porcentajes</button>
                    </div>
                    
                    <div *ngIf="showPieChart" class="row">
                       
                        <div class="utilresponsive">
                            <app-pie-chart-advance></app-pie-chart-advance>

                        </div>
                    </div>
                </ng-template>

            </li>
            <li *ngIf="loading" [ngbNavItem]="2">
                <a ngbNavLink>Diagnóstico</a>
                <ng-template ngbNavContent>
                    <div class="row">
                        <div class="utilresponsive">
                            <app-area-chart></app-area-chart>
                        </div>
                    </div>
                   

                </ng-template>
            </li>
            <li *ngIf="loading" [ngbNavItem]="3">
                <a ngbNavLink>Tabla</a>
                <ng-template ngbNavContent>
                    <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam.
                        Nulla
                        facilisi.
                        Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu,
                        congue
                        et odio.
                        Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et.
                        Sed
                        diam urna,
                        egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus
                        nisl
                        enim, nec
                        tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque
                        penatibus et
                        magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet
                        ultricies in
                        eget
                        neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                </ng-template>
            </li>
        </ul>

    </div>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
    <hr>
    <div class="row">
        <div id="mapa-mapbox"></div>
    </div>