<h3>COVID19 COLOMBIA <img src="../../../../assets/images/images_santiago/colombia.svg" style="width: 43px;" alt=""></h3>
<hr>
<p class="text-muted">Hoy: {{clock | date:'MMMM d, y'}}-Primer caso: Marzo 6, 2020</p>
<div class="row" *ngIf="!loading">
    <div class="col">

        <div class="alert alert-dismissible text-center">
            <i class="fa fa-sync fa-spin fa-2x"></i>
            <h1>Espere...</h1>


        </div>
    </div>
</div>

<div>
    <div>
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li *ngIf="loading" [ngbNavItem]="1">
                <a class="nav-ng" (click)="analyticsEventDiagnostico()" ngbNavLink>Resumen</a>
                <ng-template ngbNavContent>
                    <div class="row">
                        <div class="card text-white bg-gray ml-3 mb-2" style="max-width: 12rem; max-height: 6rem;">
                            <div class="card-header">Casos Confirmados</div>
                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center; font-size: 18px; ">{{casos.length}}
                                </h5>

                            </div>
                        </div>
                        <div class="card text-white bg-info ml-3 mb-2" style="max-width: 10rem; max-height: 6rem;">
                            <div class="card-header">Recuperados</div>
                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center; font-size: 18px;">{{recuperados}}</h5>

                            </div>
                        </div>
                        <div class="card text-white bg-warning ml-3" style="max-width: 10rem; max-height: 6rem;">
                            <div class="card-header">Fallecidos</div>
                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center; font-size: 18px;">{{fallecidos}}</h5>

                            </div>
                        </div>

                        <div class="card text-white bg-primary ml-3 mb-3" style="max-width: 15rem; max-height: 6rem;">
                            <div class="card-header">Activos</div>
                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center; font-size: 18px;">{{activos}}</h5>

                            </div>
                        </div>

                    </div>
                    <hr>
                    <div class="row">
                        <button type="button" (click)="showPieChart=!showPieChart;analyticsEventVerPorcentajes()"
                            class="btn btn-secondary">Ver Porcentajes</button>
                    </div>

                    <div *ngIf="showPieChart" class="row">

                        <div class="utilresponsive">
                            <app-pie-chart-advance></app-pie-chart-advance>

                        </div>
                    </div>
                </ng-template>

            </li>
            <li *ngIf="loading" [ngbNavItem]="2">
                <a class="nav-ng" ngbNavLink>Diagnóstico</a>
                <ng-template ngbNavContent>
                    <div class="row ">
                        <app-area-chart></app-area-chart>
                    </div>
                    <hr>
                    <div class="row">
                        <app-bar-chart></app-bar-chart>

                    </div>
                    <hr>
                    <br>
                    <br>
                    <div class="row">
                        <!-- <div class="utilresponsive">
                     
                        </div> -->
                        <app-line-chart></app-line-chart>
                    </div>
                    <hr>

                    <div class="row">
                        <button (click)="sendDataCakePieCasosEdad()" class="btn btn-secondary mr-4 active">Casos por
                            edad</button>
                        <button (click)="sendDataCakePieFalleEdad();analyticsEventPieChart()"
                            class="btn btn-secondary">Fallecimiento por edad</button>
                    </div>
                    <div class="row">

                        <div style="height: 300px;">
                            <div *ngIf="showpie">
                                <app-cake-pie></app-cake-pie>
                            </div>


                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="utilresponsive">
                            <app-area-muni-chart></app-area-muni-chart>
                        </div>
                    </div>


                </ng-template>
            </li>
        </ul>

    </div>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
    <hr>
    <div class="row">
        <div class="animated fadeIn" id="mapa-mapbox"></div>
    </div>

    <!-- <footer  id="sticky-footer" class="text-white-50">
        <div class="container text-center">
          <small>Copyright {{anio}}  &copy; Santiago Valencia My App</small>
        </div>
      </footer> -->